
html * {
  font-size: 18px;
  font-family: Trebuchet MS, sans-serif;
}

body {
    background-image: url("/img/bg.png");
    background-repeat: repeat;
}

div#wrapper {
	width: 1000px;
	margin: auto;
}

div#banner {
    display: block;
    background-image: url("/img/banner.png");
    width: 1000px;
    height: 60px;
    border-top-right-radius:15px;
    border-top-left-radius:15px;    
}

div#content {
    width: 1000px;
    display: inline-block;
    vertical-align: top;
    background-image: url("/img/tree.png");
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;    
}

div#tab {
    width:100%;
    display:block;
}

div#tab a{
    text-decoration: none;
}

div#left {
    width: 20%; 
    float: left;
    display: inline-block;
}

div#right {
    width: 78%; 
    float: right;
    display: inline-block;
    padding-top: 10pt;
}

div#answer {
    width: 100%;
    height: 320px;
    display: inline-block;
    overflow: auto;
}

div#hint {
    width: 100%;
    height: 100px
}

div#creator {
    width: 100%;
    height: 100px
}

button.round {
    border-width:1px;
    border-radius: 6px;
}

input.round {
    border-width:1px;
    border-radius: 4px;
}

img.banner {
    max-width:100%;
}

p.title {
    font: "Helvetica";
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px white;    
}

hr.separator {
    clear: both;
    width: 100%;
    height: 2px;
    margin: 0px;
    background: linear-gradient(to right, red, yellow, red);
}

p.intr {
    margin-top: 0pt;
    margin-bottom: 10pt;
    color: rgb(0,23,139);
    
}



div.response {
    color : blue;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid white;
  background-color: rgb(174,223,230);
  display:block;
}

.tab img {
    height:16px;
}

.tab a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  text-decoration: none;
}

/* Change background color of buttons on hover */
.tab a:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab a.active {
  background-color: red;
}
